/* styles/fonts.css */
@font-face {
    font-family: 'VarelaRound-Regular';
    src: url('/fonts/VarelaRound-Regular') format('woff2'),
         url('/fonts/VarelaRound-Regular') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  